<section class="container-fluid my-work" id="work-section">
    <h2>My Work</h2>
</section>
<section class="container-fluid my-work-content d-flex flex-wrap justify-content-center gap-5">
        <div class="card-work">
            <div class="card-content" id="javascript">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, ab.</p>
                <a href="https://joacobonvechi.github.io/Proyecto-Final-JavaScript/">Visit Web<span class="span-img-work"></span></a>
            </div>
        </div>
        <div class="card-work">
            <div class="card-content" id="milhouse">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, perferendis.</p>
                <a href="https://joacobonvechi.github.io/MilHouse-Bienes-raices/">Visit Web<span class="span-img-work"></span></a>
            </div>
        </div>
        <div class="card-work">
            <div class="card-content" id="batatabit">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, perferendis.</p>
                <a href="https://joacobonvechi.github.io/Batatabit/">Visit Web<span class="span-img-work"></span></a>
            </div>
        </div>
        <div class="card-work">
            <div class="card-content" id="blog-index">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, perferendis.</p>
                <a href="https://joacobonvechi.github.io/Blogspot/">Visit Web<span class="span-img-work"></span></a>
            </div>
        </div>
        <div class="card-work">
            <div class="card-content" id="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, perferendis.</p>
                <a href="">Visit Web<span class="span-img-work"></span></a>
            </div>
        </div>
        <div class="card-work">
            <div class="card-content" id="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, perferendis.</p>
                <a href="">Visit Web<span class="span-img-work"></span></a>
            </div>
        </div>
</section>