<section class="container-fluid about-me" id="about-me-section">
    <h2>About Me</h2>
</section>
<section class="container about-me-content d-flex flex-wrap justify-content-center">
    <div class="row d-flex flex-wrap justify-content-evenly">

        <article class="me-card col-sm-7 col-md-5">
            <h3>Me.</h3>
            <p>Hello, I'm Joaquin Bonvechi, I'm 20 years old, a student and full stack developer of Web Development and Mobile Development with experience and preference in the front end development of web pages, with the best practices and latest technologies.
                Although I have preferences, I find myself looking for work in any area.</p>
        </article>

        <article class="studyes-card col-sm-7 col-md-5">
            <h3>Studyes and Certificates.</h3>
            <div>
                <p class="fs-6 fw-semibold m-2">#SeProgramar</p>
                <div class="progress">
                    <div class="fs-6 fw-semibold progress-bar bar-yoprogramo" role="progressbar" aria-label="Success example" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                </div>

                <p class="fs-6 fw-semibold m-2">#YoProgramo</p>
                <div class="progress">
                    <div class="fs-6 fw-semibold progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 80%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>

                <p class="fs-6 fw-semibold m-3">Tecnicatura Superior en Desarrollo web y Programacion de Aplicaciones Digitales</p>
                <div class="progress">
                    <div class="bar-tecnicatura fs-6 fw-semibold progress-bar" role="progressbar" aria-label="Success example" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">45%</div>
                </div>
            </div>
            <a href="https://seprogramar.inti.gob.ar/inti/certificates/verify/a98Koua17K1Fc8tP" target="_blank">#SeProgramar</a>

        </article>
    </div>

</section>
