<section class="container-fluid about-me" id="about-me-section">
  <h2>About Me</h2>
</section>
<section
  class="container about-me-content d-flex flex-wrap justify-content-center"
>
  <div class="row d-flex flex-wrap justify-content-evenly">
    <article class="me-card col-sm-7 col-md-5">
      <h3>Me.</h3>
      <p>
        Hello, I'm Joaquin Bonvechi, I'm 20 years old, a student and full stack
        developer of Web Development and Mobile Development with experience and
        preference in the front end development of web pages, with the best
        practices and latest technologies. Although I have preferences, I find
        myself looking for work in any area.
      </p>
    </article>

    <article class="studyes-card col-sm-7 col-md-5">
      <h3>Studyes and Certificates.</h3>
      <div>
        <div *ngFor="let Estudio of estudio">
          <p class="fs-6 fw-semibold m-2">{{ Estudio.estudio }}</p>
          <div class="progress">
            <div
              class="fs-6 fw-semibold progress-bar bar-yoprogramo"
              role="progressbar"
              aria-label="Success example"
              [style]="{ width: Estudio.porcentaje }"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ Estudio.porcentaje }}
            </div>
          </div>
          <div *ngIf="isLogged">
            <button class="btn btn-light" routerLink="editEstudio/{{Estudio.id}}">
              <i class="bi bi-pencil-fill">EDITAR</i>
            </button>
          </div>

          <div *ngIf="isLogged">
            <button class="btn btn-danger" (click)="borrar(Estudio.id)">
                <i class="bi bi-trash-fill"></i>BORRAR
            </button>
          </div>

          

        </div>

        <p class="fs-6 fw-semibold m-2">#SeProgramar</p>
        <div class="progress">
          <div
            class="fs-6 fw-semibold progress-bar bg-success"
            role="progressbar"
            aria-label="Success example"
            style="width: 20%"
            aria-valuenow="30"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            30%
          </div>

        </div>

        <p class="fs-6 fw-semibold m-3">
          Tecnicatura Superior en Desarrollo web y Programacion de Aplicaciones
          Digitales
        </p>
        <div class="progress">
          <div
            class="bar-tecnicatura fs-6 fw-semibold progress-bar"
            role="progressbar"
            aria-label="Success example"
            style="width: 45%"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            45%
          </div>
        </div>
      </div>
      <a
        href="https://seprogramar.inti.gob.ar/inti/certificates/verify/a98Koua17K1Fc8tP"
        >#YoProgramo</a
      >
      <div *ngIf="isLogged">
        <button type="button" class="btn btn-dark" routerLink="/nuevoEstudio">AGREGAR</button>
      </div>
    </article>
  </div>
</section>
