<section class="container-fluid about-me" id="about-me-section">
  <h2>About Me</h2>
</section>
<section
  class="container about-me-content d-flex flex-wrap justify-content-center"
>
  <div class="row d-flex flex-wrap justify-content-evenly">
    <article class="me-card col-sm-7 col-md-5">
      <h3>Me.</h3>
      <p *ngFor="let Persona of persona">
        {{Persona.sobreMi}}
      </p>
      <div *ngIf="isLogged">
        <button type="button" class="btn btn-dark" routerLink="/editarSobreMi">MODIFICAR</button>
      </div>
    </article>

    <article class="studyes-card col-sm-7 col-md-5">
      <h3>Studyes and Certificates.</h3>
      <div>
        <div *ngFor="let Estudio of estudio">
          <p class="fs-6 fw-semibold m-2">{{ Estudio.estudio }}</p>
          <div class="progress">
            <div
              class="fs-6 fw-semibold progress-bar bar-yoprogramo {{Estudio.color}}"
              role="progressbar"
              aria-label="Success example"
              [style]="{ width: Estudio.porcentaje }"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ Estudio.porcentaje }}
            </div>
          </div>

          <div *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(Estudio.id)">
                <i class="bi bi-trash-fill"></i>BORRAR
            </button>
          </div>

        </div>

      </div>
      <a
        href="https://seprogramar.inti.gob.ar/inti/certificates/verify/a98Koua17K1Fc8tP"
        >#SeProgramar</a
      >
      <div *ngIf="isLogged">
        <button type="button" class="btn btn-dark" routerLink="/nuevoEstudio">AGREGAR</button>
      </div>
    </article>
  </div>
</section>
