label{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
p{
    color: white;
}
input{
    margin: 20px;
}
.container{
    margin-top: 5%;
    height: 100vh;
}
ul, li{
    color: white;
}
