<section class="container-fluid tech-and-lang" id="language-section">
    <h2>Technologies and Languages</h2>
</section>
<section class="container tech-and-lang-content d-flex gap-5 flex-wrap justify-content-center">
    <a target="_blank" href="https://developer.mozilla.org/es/docs/Web/JavaScript"><img src="../../../assets/js logo.png" alt=""></a>
    <a target="_blank" href="https://www.typescriptlang.org/"><img src="../../../assets/typescript.png" alt=""></a>
    <a target="_blank" href="https://www.python.org/"><img src="../../../assets/2f9c11f9e55efbf1791f12c06d60729b.jpg" alt=""></a>
    <a target="_blank" href="https://developer.mozilla.org/es/docs/Web/HTML"><img src="../../../assets/logo-g63ba4cb73_1920.png" alt=""></a>
    <a target="_blank" href="https://developer.mozilla.org/es/docs/Web/CSS"><img src="../../../assets/logo-2582747_1280.webp" alt=""></a>
    <a target="_blank" href="https://www.mysql.com/"><img src="../../../assets/mySQL-logo-300x300.png" alt=""></a>
    <a target="_blank" href="https://nodejs.org/en"><img src="../../../assets/descarga (2).png" alt=""></a>
    <a target="_blank" href="https://angular.io/"><img src="../../../assets/angular-img.png" alt=""></a>
</section>
