<section class="container-fluid tech-and-lang">
    <h2>Technologies and Languages</h2>
</section>
<section class="container tech-and-lang-content d-flex gap-5 flex-wrap justify-content-center">
    <img src="../../../assets/js logo.png" alt="">
    <img src="../../../assets/typescript.png" alt="">
    <img src="../../../assets/2f9c11f9e55efbf1791f12c06d60729b.jpg" alt="">
    <img src="../../../assets/logo-g63ba4cb73_1920.png" alt="">
    <img src="../../../assets/logo-2582747_1280.webp" alt="">
    <img src="../../../assets/mySQL-logo-300x300.png" alt="">
    <img src="../../../assets/descarga (2).png" alt="">

</section>
