<section class="container-fluid contact">
    <h2>Contact</h2>
</section>
<section class="container contact-content">
    <div id="container-form">
        <h3>Form of Contact</h3>
        <form class="row g-3 d-flex flex-wrap justify-content-center" form action="https://formsubmit.co/joacobonvechi2272002@gmail.com" method="POST">
            <div class="col-md-6">
              <label for="name" class="form-label">Name</label>
              <input type="name" class="form-control" id="name" name="Nombre" required>
            </div>
            <div class="col-md-6">
              <label for="inputEmail" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="inputEmail" name="Email" required>
            </div>
            <div class="col-md-6">
                <label for="cellphone" class="form-label">Cellphone</label>
                <input type="number" class="form-control" id="cellphone" name="Telefono" required>
              </div>
            <div class="col-md-6">
                <label for="issue" class="form-label">Issue</label>
                <input type="text" class="form-control" id="issue" name="Asunto" required>
            </div>
            <div class="col-md-12">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" name="message" rows="7" name="Mensaje"></textarea>
            </div>

            <button type="submit" class="btn" id="button-form">Send</button>

            <input type="hidden" name="_captcha" value="false">

            <input type="hidden" name="_next" value="http://localhost:4200/">

        </form>
    </div>
</section>