<section class="container-fluid contact" id="contact-section">
    <h2>Contact</h2>
</section>
<section class="container contact-content">
    <div id="container-form">
        <h3>Form of Contact</h3>
        <form #myForm (submit)="onSubmit()" action="https://formsubmit.co/joacobonvechi2272002@gmail.com" method="POST" class="row g-3 d-flex flex-wrap justify-content-center">
            <div class="col-md-6">
              <label  for="name" class="form-label">Name</label>
              <input name="name" type="name" class="form-control" id="name">
            </div>
            <div class="col-md-6">
              <label for="inputEmail" class="form-label">E-mail</label>
              <input name="email" type="email" class="form-control" id="inputEmail">
            </div>
            <div class="col-md-6">
                <label for="cellphone" class="form-label">Cellphone</label>
                <input name="cellphone" type="number" class="form-control" id="cellphone">
              </div>
            <div class="col-md-6">
                <label for="issue" class="form-label">Issue</label>
                <input name="issue" type="text" class="form-control" id="issue">
            </div>
            <div class="col-md-12">
                <label for="message" class="form-label">Message</label>
                <textarea name="mensaje" class="form-control" id="message" name="message" rows="7"></textarea>
            </div>

            <button role="button" type="submit" class="btn" id="button-form">Send</button>

        </form>
    </div>
</section>