/*  FOOTER  */

footer {
    background-color: #1E1E1E;
    padding: 10px;
}

.footer-redes ul{
    padding: 0;
    margin: 0;
}

.footer-redes ul li{
    list-style: none;
    margin: 15px;
}

.footer-redes ul li a {
    color: white;
    text-decoration: none;
    padding: 5px;
}
.facebook-icon {
    background-image: url(../../../assets/facebook.png);
    width:24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
    vertical-align: bottom;
}
.twitter-icon {
    background-image: url(../../../assets/gorjeo.png);
    width:24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
    vertical-align: bottom;
}
.linkedin-icon {
    background-image: url(../../../assets/icons8-linkedin-rodeado-de-círculo-34.png);
    width:24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
    vertical-align: bottom;
}
