<body>
<section class="container presentacion">
  <div class="row">
      <div class="d-flex align-items-center flex-wrap col-sm-12 col-md-7 text-presentacion-container">
          <div class="text-presentacion">
              <div><h1 id="presentacion-title">
              </h1><div></div></div>
              <h4 id="presentacion-text"></h4>
              <h4 id="presentacion-text2"></h4>
          </div>
      </div>
      <div id="photo-section" class="photo-section d-flex justify-content-end align-items-center col-sm-12 col-md-5">
          <div >
              
          </div>
      </div>
  </div>
</section>
<app-navbar class="nav-bar"> </app-navbar>
</body>