<body>
<section class="container-fluid">
    <section class="container presentacion">
        <div class="row">
            <div class="d-flex align-items-center flex-wrap col-sm-12 col-md-7 text-presentacion-container">
                <div class="text-presentacion">
                    <div><h1 id="presentacion-title">{{texto}}
                    </h1><div></div></div>
                    <h4 id="presentacion-text">{{texto2}}</h4>
                    <h4 id="presentacion-text2">{{texto3}}</h4>
                </div>
            </div>
            <div id="photo-section" class="photo-section d-flex justify-content-end align-items-center col-sm-12 col-md-5">
                <div >
                    
                </div>
            </div>
        </div>
    
    </section>

    <app-navbar class="nav-bar"> </app-navbar>

</section>

<app-languages id="languages-section"></app-languages>

<app-about id="about-section"></app-about>

<app-work id="work-section"></app-work>

<app-contact id="contact-section"></app-contact>

<app-footer></app-footer>

</body>