/*  PRESENTACION  */

.container-fluid{
    position: relative;
}

.presentacion {
    height: 100vh;
}
.presentacion .row {
    height: 100%;
}
.text-presentacion {
    
    width: max-content;
    height: 50%;
}
.presentacion .row .d-flex div h1 {
    font-size: 3.5rem;
    color: #1CA800;
    margin-bottom: 35px;
    position: relative;
}
.presentacion .row .d-flex div h4{
    padding-left: 10px;
    color: #1CA800;
}

.photo-section div {
    height: auto;
    width: auto;
    margin-top: 20% ;
    margin-right: 10%;
    border-radius: 50%;
    
}
.photo-section img {
    height: 320px;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 5px #1e1e1e;
}

#presentacion-title {
    padding-right: 30px;
}
.text-presentacion div{
    position: relative;
}
.text-presentacion div div{
    opacity: 1;
    width: 15px;
    height: 2.5rem;
    animation: parpadeo 1.3s infinite;
    background-color: #1CA800;
    position: absolute;
    right: 0;
    top: calc(50% - 15px);
}

.nav-bar {
    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width:990px){
    .presentacion .row .d-flex div h1 {
        font-size: 2.5rem;
        margin-bottom: 35px;
    }
    .presentacion .text-presentacion h4{
        font-size: 1.5rem;
    }
    #photo-section div {
        width: 275px;
        height: 275px;
        margin-right: 0;
    }
    .text-presentacion div div{
    opacity: 1;
    width: 13px;
    height: 2.3rem;
    top: calc(50% - 17px);
}
}
@media (max-width:770px){
    #photo-section {
        justify-content: center!important;
        padding: 0;
    }
    #photo-section div {
        justify-content: center;
        margin-top: 0;
        margin-right: 0;
    }
    div .text-presentacion {
        padding: 0;
        height: 20vh;
        text-align: center;
    }
    .presentacion .row .d-flex div h4 {
        padding-left: 0px;
    }
    .text-presentacion-container {
        justify-content: center;
    }

}
@media (max-width:380px){
    .presentacion .row .d-flex div h1 {
        font-size: 2rem;
        margin-bottom: 35px;
    }
    .presentacion .text-presentacion h4{
        font-size: 1.5rem;
        padding: 0;
    }

}
@media (min-width:1200px){
    .photo-section div{
        width: 350px;
        height: 350px;
    }
    .photo-section img {
        height: 380px;
        border-radius: 50%;
        box-shadow: 0px 0px 25px 5px #1e1e1e;
    }
}
@media (min-width:1800px){
    .photo-section div{
        width: 370px;
        height: 370px;
    }
}


@keyframes parpadeo{
    0% {
        opacity: 1;
        
    }
    50% {
        opacity: 0;
        
    }
}
